/* Main */
body {
	background-color: #2e3141;
  color: white
}



/*
.container { 
  background: #20222b!important;
  animation: borderchange 20s infinite alternate;
}
@keyframes borderchange
{
  0% { border: 7px solid pink;}
  50% { border: 7px solid yellow;}
  100% { border: 10px solid red;}
}
*/





.membershipimg{
  width: 50px

}

.nitroheader {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.databox{
  max-height: 555px;
  font-family: "Montserrat", sans-serif;
}
/* Positions */
.profileheader{
  position: relative;
  left: 58px;
}
.title {
  font-style: italic;
  font-size: 16px;
  color: gold;
  position: relative;
  top: -2px;
  left: 61px;
}
.lvl {
  font-weight: bold;
  position: relative;
  top: -49px;
  text-align: right;
  left: -50px;
}
.lvl2 {
  font-weight: bold;
  position: relative;
  color: gold;
  top: -90px;
  text-align: right;
  left: -7px;
}
.date {
    position: relative;
    text-align: right!important;
    top: -90px;
    left: -10px;
    font-size: 16px;
    font-style: italic;
}

.aspeed {
  font-weight: bold;
  position: relative;
  top: -32px;
  left: 61px;
}
.tspeed {
  font-weight: bold;
  position: relative;
  color: gold;
  top: -32px;
  left: 61px;
}
.races {
  font-weight: bold;
  position: relative;
  top: -25px;
  left: 61px;
}
.views {
  position: relative;
  top: 64px;
  left: 61px;
}
.session {
  position: relative;
  top: 64px;
  left: 61px;
}
.nitros {
  position: relative;
  top: 64px;
  left: 61px;
}

/* Table */
.lv {
    float: right;
}
.gold {
  font-weight: bold;
  color: gold;
  position: relative;
  top: 200px;
  left: 20px;
}
.container {
  max-width: 1250px;
}

.name-stats{
  font-size: 40px;
  text-align: center;
  max-width: 453px;
  margin: auto;
}







/*Car Images*/

.largeimg {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(165deg);
  font-size: 100px;
  font-weight: bold;
  color: teal;
  position: relative;
  top: -430px;
}
a {
color: white;
}
a:hover {
  color: rgb(235, 235, 235);
  }

/* Nav Bar */

.topnav {
    background-image: linear-gradient(to right, rgb(46, 46, 46) , rgb(0, 0, 0));
    border-radius: 15px;
    border: 2px solid white;
    text-align: center!important;
    position: relative;
    max-width: 742px;
    margin: auto;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 4px 12px;
    text-decoration: none;
    font-size: 45px;
    border-radius: 15px;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .navimg {
  align-items: center;
  color: rgb(212, 255, 0);
  font-size: 15px;
  padding: 0px;
  background-color: transparent;
  margin: 0 auto;
}
  .navimg a:hover {
  background-color: transparent !important;
  margin: 0 auto;
}
  


/* ACTIVE COLORS */
  .topnav a.actived {
    background-image: linear-gradient(45deg, #1c2b53, #113dac, #6d9bff);
    color: white;
  }
  .topnav a.activem {
    background-image: linear-gradient(45deg, #2F1C53, #4711ac, #A46DFF);
    color: white;
  }  
  .topnav a.activee {
      background: linear-gradient(45deg, #3ee83e, #15d215, #00cb00);
      color: white;
  }  
  .topnav a.activea {
    background: linear-gradient(45deg, #e8823e, #d96619, #c75102);
    color: white;
} 
.topnav a.activer {
  background: linear-gradient(45deg, #000000, #282828, #535353);
  color: white;
} 